# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
Stock_Investment Planner.docx
Credentials_Reference_Readme.md
Credentials_Reference_Readme copy.md
Readme.md
.gitignore
.env
